*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media (max-width: 599.92px) {.bg{
    width: 100%;
    height: 40vh;
    background: linear-gradient(180deg, #C12038 0%, rgba(194, 99, 113, 0.59375) 39.06%, rgba(0, 0, 0, 0) 100%), url("restaurant.svg") center/cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: azure;
}

.main{
margin-left: 20px;
margin-top: 20px;
}}

.restorants{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.coctailes{
    grid-column:  1/3;
    grid-row: 1/3;
}
.coctailes_main{
    display: flex;
    flex-direction: column;
}
.coctailes_main_main{
    display: flex;
    flex-direction: row;
}
.dinocatering{
    margin-top: 28px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.dinebistrosoon{
    grid-column: 2/3;
    grid-row: 2/3;
   width: 200px;
   height: 110px;
}

.seeallnews{
    display: flex;
    justify-content: center;

}

.secbg{
    width: 100%;
    height: 36vh;
    background-color: #191919;
}

.restorants_2{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}